@import '../../styles/variables';

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  inset: 0;
  color: $primary;

  .mat-display-4 {
    margin: 0;
  }
}
