<app-validation-status [validation]="site?.validation"></app-validation-status>

<mat-card class="summary">
  <div class="item" *ngFor="let field of fields">
    <span class="mat-body-2">{{ field.label }}</span>
    <ng-container [ngSwitch]="field.value">
      <ng-container *ngSwitchCase="'lastValidated'">
        <p>{{ site?.lastValidated | date: 'short' }}</p>
      </ng-container>
      <ng-container *ngSwitchCase="'correctDevicesCount'">
        <p>{{ site?.correctDevicesCount }} ({{ site?.correctDevicesPercent | percent: '1.0-2' }})</p>
      </ng-container>
      <ng-container *ngSwitchCase="'missingDevicesCount'">
        <p>{{ site?.missingDevicesCount }} ({{ site?.missingDevicesPercent | percent: '1.0-2' }})</p>
      </ng-container>
      <ng-container *ngSwitchCase="'errorDevicesCount'">
        <p>{{ site?.errorDevicesCount }} ({{ site?.errorDevicesPercent | percent: '1.0-2' }})</p>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <p>{{ site?.[field.value] }}</p>
      </ng-container>
    </ng-container>
  </div>
</mat-card>

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a mat-tab-link routerLink="devices" routerLinkActive="active" #rla="routerLinkActive" [active]="rla.isActive"
    >Devices</a
  >
</nav>
<mat-tab-nav-panel #tabPanel>
  <div class="container">
    <router-outlet name="siteTabs"></router-outlet>
  </div>
</mat-tab-nav-panel>
