<app-search-filter [data]="searchFilterOptions"></app-search-filter>
<div class="table-controls">
  <span class="mat-small">{{ totalCount }} Devices</span>
  <mat-paginator
    [length]="totalCount"
    [pageSize]="pageSize"
    [pageIndex]="currentPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageChanged($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
<table mat-table [dataSource]="devices" matSort (matSortChange)="sortData($event)">
  <ng-container *ngFor="let columnName of displayedColumns" matColumnDef="{{ columnName }}">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="{{ columnName }}">{{ columnName | capitalize }}</th>
    <td mat-cell *matCellDef="let element">{{ element[columnName] }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
