*~
\#*

/udmi-support_*/
/site_model
udmi_site_model/
gcp_reflect_key.pkcs8
workspace.xml
codegen/
.DS_Store
tmp/
var/
.gradle/
.firebase/
udmis/functions/node_modules/
udmis/public/deploy_version.js
firebase-debug.log
credentials.json
/out/
/out_*/
/validator/build/
/validator/out/
/validator/.idea/libraries/
/udmis/build/
/udmis/out/
/udmis/var/
/udmis/profile/
/udmis/.idea/libraries/
/selfie/build/
/pubber/build/
/pubber/out/
/pubber/pubber/out/
/pubber/.idea/libraries/
/services/build/
/services/out/
/services/var/
/services/.idea/libraries/
/sites/
/sites
/attributes.json
/venv/
/venv
/local/
.pubber.pid
__pycache__/
/tests/sites/*/out/
/tests/sites/*/devices/*/out/
/tests/sites/basic/extras/
/udmi_*.log

.vscode
.class

# Terraform authentication and template files.
cloud/gcp/terraform.tfvars
cloud/gcp/udmi-sites.tf
cloud/gcp/main.tf
cloud/gcp/auth/credentials.json
cloud/gcp/.terraform*
