cryptography==46.0.5
aiosqlite==0.22.1
BAC0==23.7.3
bacpypes==0.18.7
colorama==0.4.6
iniconfig==2.3.0
numpy==2.4.0
packaging==26.0
paho-mqtt==2.1.0
pluggy==1.6.0
pygments==2.19.2
pyjwt==2.11.0
pytest==9.0.2
python-dotenv==1.2.1
pytz==2025.2
scapy==2.7.0
pyasyncore==1.0.5
