services:
  mosquitto:
    build:
      context: ./mosquitto
    container_name: mosquitto
    volumes:
      - ./udmi_site_model:/site_model
      - ./var/mosquitto/certs:/etc/mosquitto/certs
      - ./var/mosquitto/data:/etc/mosquitto/data
      - ./var/mosquitto/log:/var/log/mosquitto
    ports:
      - "8883:8883"
    networks:
      - udminet

  etcd:
    image: quay.io/coreos/etcd:v3.5.13
    container_name: etcd
    volumes:
      - ./var/etcd:/var/etcd
    ports:
      - "2379:2379"
    networks:
      - udminet
    command: ["etcd", "-listen-client-urls=http://0.0.0.0:2379", "-advertise-client-urls=http://etcd:2379", "--data-dir", "/var/etcd"]

  udmis:
    build:
      context: ./udmis
    container_name: udmis
    volumes:
      - ./udmi_site_model:/root/site_model
      - ./var/tmp:/tmp
      - ./var/etcd:/root/udmi/var/etcd
      - ./var/mosquitto/log:/var/log/mosquitto
      - ./var/mosquitto/certs:/etc/mosquitto/certs
    depends_on:
      etcd:
        condition: service_started
      mosquitto:
        condition: service_started
    networks:
      - udminet
    environment:
      ETCD_CLUSTER: etcd
      MQTT_HOST: mosquitto
      MQTT_PORT: 8883

  validator:
    image: ghcr.io/faucetsdn/udmi:validator-latest
    container_name: validator
    volumes:
      - ./udmi_site_model:/root/site_model
      - ./var/mosquitto/log:/var/log/mosquitto
      - ./var/mosquitto/certs:/etc/mosquitto/certs
    depends_on:
      udmis:
        condition: service_started
    networks:
      - udminet
    command: ["tail", "-f", "/dev/null"]

  pubber:
    image: ghcr.io/faucetsdn/udmi:pubber-latest
    container_name: pubber
    volumes:
      - ./udmi_site_model:/root/site_model
    depends_on:
      udmis:
        condition: service_started
    command: ["tail", "-f", "/dev/null"]
    networks:
      - udminet

networks:
  udminet:
    name: udminet
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.99.0/24