services:
  mosquitto:
    build:
      context: ./mosquitto
    container_name: mosquitto
    volumes:
      - ./udmi_site_model:/site_model
      - ./var/mosquitto:/etc/mosquitto
      - ./var/mosquitto/data:/mosquitto/data
      - ./var/mosquitto/log:/var/log/mosquitto/
    ports:
      - "8883:8883"
    restart: always
    networks:
      - udminet
    environment:
      - HOST_IP=${HOST_IP}
      - AUTH_USER=${AUTH_USER}
      - AUTH_PASS=${AUTH_PASS}
      - SERV_USER=${SERV_USER}
      - SERV_PASS=${SERV_PASS}

  etcd:
    image: quay.io/coreos/etcd:v3.5.13
    container_name: etcd
    volumes:
      - ./var/etcd:/var/etcd
    ports:
      - "2379:2379"
    networks:
      - udminet
    restart: always
    command: ["etcd", "-listen-client-urls=http://0.0.0.0:2379", "-advertise-client-urls=http://etcd:2379", "--data-dir", "/var/etcd"]

  udmis:
    build:
      context: .
      dockerfile: udmis/Dockerfile
    container_name: udmis
    volumes:
      - ./udmi_site_model:/root/site_model
      - ./var/tmp:/tmp
      - ./var/etcd:/root/udmi/var/etcd
      - ./var/mosquitto/log:/var/log/mosquitto
      - ./var/mosquitto/certs:/etc/mosquitto/certs
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./var/sshKeys:/root/.ssh
    depends_on:
      etcd:
        condition: service_started
      mosquitto:
        condition: service_started
    restart: always
    ports:
      - "8080:8080"
    networks:
      - udminet
    environment:
      - AUTH_USER=${AUTH_USER}
      - AUTH_PASS=${AUTH_PASS}
      - SERV_USER=${SERV_USER}
      - SERV_PASS=${SERV_PASS}
      - ETCD_CLUSTER=etcd
      - MQTT_HOST=mosquitto
      - MQTT_PORT=8883
      - INFLUXDB_TOKEN=${INFLUXDB_TOKEN}
      - INFLUXDB_ORG=bridgehead
      - INFLUXDB_BUCKET=home

  validator:
    build:
      context: ./validator
    container_name: validator
    volumes:
      - ./udmi_site_model:/root/site_model
      - ./var/mosquitto/log:/var/log/mosquitto
      - ./var/mosquitto/certs:/etc/mosquitto/certs
      - ./var/tmp:/usr/local/bin/udmis
      - ./var/sshKeys:/tmp/ssh_public_key
    depends_on:
      udmis:
        condition: service_started
    restart: always
    networks:
      - udminet
      
  influxdb:
    container_name: influxdb
    image: influxdb:2
    depends_on:
      udmis:
        condition: service_started
    volumes:
      - ./var/influxdb-storage:/var/lib/influxdb
      - ./var/mosquitto/certs:/etc/mosquitto/certs
    environment:
      - DOCKER_INFLUXDB_INIT_MODE=setup
      - DOCKER_INFLUXDB_INIT_USERNAME=${INFLUX_USER}
      - DOCKER_INFLUXDB_INIT_PASSWORD=${INFLUX_PASSWORD}
      - DOCKER_INFLUXDB_INIT_BUCKET=home
      - DOCKER_INFLUXDB_INIT_ORG=bridgehead
      - DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=${INFLUXDB_TOKEN}
    restart: always
    ports:
      - "8086:8086"
    networks:
      - udminet

  grafana:
    container_name: grafana
    image: grafana/grafana:12.3
    volumes:
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/dashboards:/etc/grafana/provisioning/dashboards
    depends_on:
      - influxdb
    environment:
      - INFLUXDB_ORGANISATION=bridgehead
      - INFLUXDB_BUCKET=home
      - INFLUXDB_TOKEN=${INFLUXDB_TOKEN}
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USER}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD}
    restart: always
    ports:
      - "3000:3000"
    networks:
      - udminet

networks:
  udminet:
    name: udminet
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.99.0/24
