@use '../../styles/variables' as *;

::ng-deep.app-search-filter {
  flex: 1;
}

.search-filter {
  width: 100%;
  max-width: 540px;

  ::ng-deep.mat-form-field-wrapper {
    padding: 0;
    margin: 0;

    .mat-form-field-flex {
      margin-top: 0;

      .mat-form-field-outline {
        top: 0;
      }

      .mat-form-field-infix {
        padding: 0;
        margin: 0;
        border-top: none;

        .mat-chip-list-wrapper {
          margin: 0;
          flex-wrap: nowrap;
          overflow-x: scroll;
          margin-left: -6px;
          margin-right: -6px;
          // border-right: solid 1px;
          white-space: nowrap;

          .mat-chip {
            white-space: nowrap;
          }

          input {
            height: 32px;
            // width: 100px;
            flex: none;
          }
        }
      }

      .mat-form-field-suffix {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
      }
    }
  }

  input::placeholder {
    color: $text-primary;
  }

  .filter-icon {
    color: $icon-default;
  }
}
