<mat-form-field class="search-filter" appearance="outline">
  <mat-chip-list #chipList aria-label="Applied filters">
    <mat-chip *ngFor="let item of items" (removed)="remove(item)">
      {{ item.label }}
      <button matChipRemove attr.aria-label="Remove filter {{ item.label }}">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      matAutocompleteOrigin
      #origin="matAutocompleteOrigin"
      placeholder="{{ items.length ? '' : 'Search' }}"
      #itemInput
      [formControl]="itemCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      (matChipInputTokenEnd)="add($event)"
      [matAutocompleteConnectedTo]="origin"
    />
  </mat-chip-list>
  <button *ngIf="filters.length" matSuffix mat-icon-button aria-label="Clear all filters">
    <mat-icon>clear</mat-icon>
  </button>
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="selected($event)"
    autoActiveFirstOption
    aria-label="Start typing to filter results"
  >
    <mat-option *ngFor="let item of filteredItems | async" [value]="item.value">
      {{ item.label }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
