@use '../../styles/variables' as *;

.table-controls {
  display: flex;
  align-items: center;

  .grow {
    flex: 1;
  }
}

.mat-table {
  width: 100%;
  border: solid thin rgba(0, 0, 0, 0.12);
  border-bottom: none;

  .link {
    display: block;
    text-align: initial;
    min-width: auto;
    line-height: initial;
    padding: 0;
    border-radius: 0;
    white-space: initial;
    font-weight: initial;

    ::ng-deep.mat-button-ripple.mat-ripple,
    ::ng-deep.mat-button-focus-overlay {
      top: -1px;
      left: -1px;
      right: -1px;
    }
  }
}
