<div class="table-controls">
  <app-search-filter
    serviceName="DevicesService"
    [fields]="searchFields"
    [limit]="15"
    [handleFilterChange]="filterData"
    [filter]="stringifiedDefaultFilters"
  ></app-search-filter>
  <mat-paginator
    [length]="totalFilteredCount"
    [pageSize]="pageSize"
    [pageIndex]="currentPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageChanged($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
<mat-table
  multiTemplateDataRows
  [dataSource]="devices"
  matSort
  (matSortChange)="sortData($event)"
  aria-label="List of devices"
>
  <ng-container *ngFor="let columnName of displayedColumns" matColumnDef="{{ columnName }}">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
      columnName.replace('Count', '') | capitalize
    }}</mat-header-cell>
    <ng-container [ngSwitch]="columnName">
      <ng-container *ngSwitchCase="'name'">
        <mat-cell *matCellDef="let element"
          ><a [routerLink]="'/devices/' + element.id">{{ element.name }}</a></mat-cell
        >
      </ng-container>
      <ng-container *ngSwitchCase="'lastPayload' || 'lastSeen'">
        <mat-cell *matCellDef="let element">{{ element[columnName] | date: 'MM/dd/yy h:mm a' }}</mat-cell>
      </ng-container>
      <ng-container *ngSwitchCase="'operational'">
        <mat-cell *matCellDef="let element">
          <ng-container *ngIf="element.operational; then yesBlock; else noBlock"></ng-container>
          <ng-template #yesBlock>Yes</ng-template>
          <ng-template #noBlock>No</ng-template>
        </mat-cell>
      </ng-container>
      <ng-container *ngSwitchCase="'errorsCount'">
        <mat-cell *matCellDef="let element" class="expand-trigger-cell">
          {{ element.errorsCount }}
          <button
            *ngIf="element.errorsCount"
            mat-icon-button
            aria-label="expand row"
            (click)="expandedElement = expandedElement === element ? null : element"
          >
            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <mat-cell *matCellDef="let element">{{ element[columnName] }}</mat-cell>
      </ng-container>
    </ng-container>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetails">
    <mat-cell *matCellDef="let element" class="expanded-row-content-wrapper">
      <ul>
        <li *ngFor="let error of (element.validation | parse)?.errors | orderBy: 'timestamp':'desc'">
          {{ error.message }}
        </li>
      </ul>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="expandable-row"
    [class.row-is-expanded]="expandedElement === row"
  ></mat-row>
  <mat-row
    *matRowDef="let row; columns: ['expandedDetails']"
    class="expanded-row-content"
    [@detailExpand]="row === expandedElement ? 'expanded' : 'collapsed'"
  ></mat-row>
</mat-table>
