@use '@angular/material' as mat;

.table-controls {
  display: flex;
  align-items: center;

  .grow {
    flex: 1;
  }
}

.cell-with-expand-trigger {
  justify-content: space-between;
}
.row-main {
  border-bottom-width: 0;
}
.row-details {
  overflow: hidden;
}
.cell-details-content-wrapper {
  display: block;
  width: 100%;
}
.row-main:hover,
.row-is-expanded,
.row-details {
  background: mat.get-color-from-palette(mat.$gray-palette, 100);
}
