astroid==3.3.10
avro==1.11.3
cachetools==5.0.0
certifi==2024.7.4
cffi==1.17.1
charset-normalizer==2.0.11
click==8.0.3
cryptography==45.0.3
dataclasses-json==0.6.7
Deprecated==1.2.14
dill==0.4.0
exceptiongroup==1.2.2
execnet==2.1.1
google-api-core==2.20.0
google-api-python-client==2.37.0
google-auth==2.14.1
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-pubsub==2.25.2
google-cloud-trace==1.13.5
googleapis-common-protos==1.65.0
grpc-google-iam-v1==0.13.1
grpcio==1.65.1
grpcio-status==1.65.1
htmlmin==0.1.12
httplib2==0.20.4
idna==3.7
importlib_metadata==8.4.0
iniconfig==2.0.0
isort==5.11.3
Jinja2==3.1.6
json-schema-for-humans==1.3.4
lazy-object-proxy==1.11.0
markdown2==2.5.0
MarkupSafe==2.0.1
marshmallow==3.18.0
marshmallow-enum==1.5.1
mccabe==0.7.0
mypy-extensions==0.4.3
oauthlib==3.2.2
opentelemetry-api==1.27.0
opentelemetry-exporter-gcp-trace==1.7.0
opentelemetry-resourcedetector-gcp==1.7.0a0
opentelemetry-sdk==1.27.0
opentelemetry-semantic-conventions==0.48b0
packaging==24.1
paho-mqtt==1.6.1
platformdirs==2.6.0
pluggy==1.5.0
proto-plus==1.24.0
protobuf==5.29.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.22
Pygments==2.18.0
PyJWT==2.9.0
pylint==3.3.7
pyparsing==3.0.7
pytest==8.3.2
pytest-xdist==3.7.0
pytz==2021.3
PyYAML==6.0.2
requests==2.32.4
requests-oauthlib==1.3.1
rsa==4.8
six==1.16.0
tomli==2.0.1
tomlkit==0.11.6
typing-inspect==0.7.1
typing_extensions==4.0.1
uritemplate==4.1.1
urllib3==2.5.0
wrapt==1.14.1
zipp==3.20.2
