.chart-wrapper {
    height: 300px;
    display: flex;
    position: relative;
    justify-content: center;

    .system-text {
        position: absolute;
        z-index: 0;
        top: calc(50% - 10px);
    }
}

mat-card {
    .close-icon {
        flex: 1;
        text-align: right;
        mat-icon {
            cursor: pointer;
        }
    }
}
