<div *ngIf="origin else noOrigin" class="chart-wrapper">
    <ngx-charts-pie-chart [doughnut]="true" [scheme]="dataColor" [results]="data" [legend]="false" [legend]="false"
        [labels]="false" [tooltipText]="formatTooltip" (select)="onSelectMetric($event)">
    </ngx-charts-pie-chart>
    <span class="system-text">{{ (systemState ? "System " + systemState : "Unknown State") | titlecase }}</span>
</div>
<mat-card *ngIf="selectedMetric">
    <mat-card-header>
        <mat-card-title>
            {{selectedMetric.type | titlecase}}
        </mat-card-title>
        <mat-card-subtitle>
            Updated: {{selectedMetric.metric.timestamp | date: "short"}}
        </mat-card-subtitle>
        <div class="close-icon">
            <mat-icon (click)="unSelectedMetric()">close</mat-icon>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div *ngIf="selectedMetric.metric.detail">
            Detail: {{selectedMetric.metric.detail}}
        </div>
        <div *ngIf="selectedMetric.metric.lastChanged">
            Last Changed: {{selectedMetric.metric.lastChanged | date:
            "short"}}
        </div>
        <div *ngIf="selectedMetric.metric.changeCount !== undefined">
            Change Count: {{selectedMetric.metric.changeCount}}
        </div>
    </mat-card-content>
</mat-card>
<ng-template #noOrigin>
    <app-no-origin></app-no-origin>
</ng-template>