# GCP Settings
gcp_project_id   = "@GCP_PROJECT_ID@"
gcp_project_name   = "@GCP_PROJECT_NAME@"
gcp_region    = "@GCP_PROJECT_REGION@"
gcp_auth_file = "./auth/credentials.json"

# Storage Buckets
tf-state-bucket-name   = "@GCP_PROJECT_NAME@-terraform"
tf-state-storage-class = "STANDARD"

# Access
gcp_access_group = "group:@GCP_PROJECT_GROUP@"

# Log level
log_level = "DEBUG"
