# GCP Settings
gcp_project_id   = "GCP-PROJECT-ID" # CHANGE ME
gcp_project_name   = "GCP-PROJECT-NAME" # CHANGE ME
gcp_region    = "us-central1" # CHANGE ME
gcp_auth_file = "./auth/credentials.json"

# Storage Buckets
tf-state-bucket-name   = "GCP-PROJECT-ID-udmi-terraform-state-bucket" # CHANGE ME
tf-state-storage-class = "STANDARD"

# Access
udmi_access_group = "group:group@example.com" # CHANGE ME

# Log level
log_level = "DEBUG" # CHANGE ME