@use '@angular/material' as mat;

// Palettes
$primary-palette: mat.define-palette(mat.$blue-palette, 900);
$accent-palette: mat.define-palette(mat.$amber-palette, A200, A100, A400);
$_text-secondary-palette: mat.define-palette(mat.$gray-palette);

// Colors
$primary: mat.get-color-from-palette($primary-palette);
$primaryContrast: mat.get-color-from-palette($primary-palette, 'default-contrast');
$accent: mat.get-color-from-palette($accent-palette);
$text-primary: rgba(0, 0, 0, 0.87);
$text-secondary: mat.get-color-from-palette($_text-secondary-palette, 700);
$icon-default: rgba(0, 0, 0, 0.54);

// Spacing
$spacing: 8px;
$gutter-width: $spacing * 2;
