/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './variables' as *;

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
a {
  color: $primary;
}
ol {
  margin: 0;
  padding-left: $gutter-width;
}

// Table overrides.
.mat-table {
  width: 100%;
  border: solid thin rgba(0, 0, 0, 0.12);
  border-bottom: none;
  box-sizing: border-box;
}
.mat-cell {
  padding: $spacing;
  color: $text-secondary;
  min-height: auto;
}
.mat-header-cell {
  padding: 0 $spacing;
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
}
.expand-trigger-cell {
  justify-content: space-between;
  padding-top: 0;
  padding-bottom: 0;
}
.expandable-row {
  border-bottom-width: 0;
}
.expanded-row-content {
  overflow: hidden;
}
.expanded-row-content-wrapper {
  display: block;
  width: 100%;
}
.mat-row:hover,
.row-is-expanded,
.expanded-row-content {
  background: mat.get-color-from-palette(mat.$gray-palette, 100);
}

// Pagination overrides.
.mat-paginator {
  background: transparent;

  .mat-paginator-container {
    padding: 0 0 0 $spacing * 2;
  }
  .mat-paginator-range-label {
    margin: 0 $spacing;
  }
}
.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  font-size: inherit;
}
.mat-paginator-page-size,
.mat-paginator-range-label {
  color: $text-primary;
}

// Form field overrides.
.mat-form-field-label {
  color: $text-primary;
}
.mat-form-field-appearance-outline .mat-form-field-outline {
  color: inherit;
  background-color: white;
}
