@use '@angular/material' as mat;
@use 'variables' as *;

@include mat.core();

$_my-theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-palette,
      accent: $accent-palette,
    ),
  )
);

@include mat.all-component-themes($_my-theme);
