@use '../../styles/variables' as *;

.summary {
  margin-bottom: $gutter-width;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  column-gap: $spacing * 2;
}

.active {
  opacity: 1;
}

.container {
  padding: $gutter-width 0;
}
