<app-validation-status [validation]="device?.validation"></app-validation-status>

<mat-card class="summary">
  <div class="item" *ngFor="let field of fields">
    <span class="mat-body-2">{{ field.label }}</span>
    <ng-container [ngSwitch]="field.value">
      <ng-container *ngSwitchCase="'lastPayload'">
        <p>{{ (device?.lastPayload | date: 'short') ?? '-' }}</p>
      </ng-container>
      <ng-container *ngSwitchCase="'lastStateUpdated'">
        <p>{{ (device?.lastStateUpdated | date: 'short') ?? '-' }}</p>
      </ng-container>
      <ng-container *ngSwitchCase="'lastStateSaved'">
        <p>{{ (device?.lastStateSaved | date: 'short') ?? '-' }}</p>
      </ng-container>
      <ng-container *ngSwitchCase="'lastTelemetryUpdated'">
        <p>{{ (device?.lastTelemetryUpdated | date: 'short') ?? '-' }}</p>
      </ng-container>
      <ng-container *ngSwitchCase="'lastTelemetrySaved'">
        <p>{{ (device?.lastTelemetrySaved | date: 'short') ?? '-' }}</p>
      </ng-container>
      <ng-container *ngSwitchCase="'operational'">
        <p>
          <ng-container *ngIf="device?.operational === true">Yes</ng-container>
          <ng-container *ngIf="device?.operational === false">No</ng-container>
          <ng-container *ngIf="device?.operational === null">-</ng-container>
        </p>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <p>{{ device?.[field.value] ?? '-' }}</p>
      </ng-container>
    </ng-container>
  </div>
</mat-card>

<nav mat-tab-nav-bar [tabPanel]="tabPanel">
  <a mat-tab-link routerLink="points" routerLinkActive="active" #points="routerLinkActive" [active]="points.isActive"
    >Points</a
  >
  <a mat-tab-link routerLink="errors" routerLinkActive="active" #errors="routerLinkActive" [active]="errors.isActive"
    >Errors</a
  >
</nav>
<mat-tab-nav-panel #tabPanel>
  <div class="container">
    <router-outlet name="deviceTabs"></router-outlet>
  </div>
</mat-tab-nav-panel>
