body {
    font-family: Arial, Helvetica, sans-serif;
}

.hidden {
    display: none;
}

.udmi-text {
    padding: 5px;
}

#device table {
    border-spacing: 0;
    padding: 5px;
}

#device table tr[name=hrow] {
    font-weight: bold;
}

#device table td[name=hcol] {
    font-style: italic;
}

#device table td {
    border: 1px solid grey;
    padding: 4px;
    background: #DDD;
    min-width: 2em;
}

#device table .output {
    font-family: monospace;
    white-space: pre;
}

#device .propvalue {
    display: inline;
}

#device .editable {
    background: white;
    padding: 2px;
}

#device .dirty {
    background: #FAF;
}


.simple-button {
    padding: 5px;
    background: #ddd;
    display: inline
}

#auth-body {
    margin: 5px;
}

.auth-info {
    display: block
}

.unauthenticated .auth-info {
    display: none
}

.unauthenticated .content {
    display: none
}

.auth-main {
    width: 20em;
}

#listings {
}

.active {
    display: block!important
}

#filters {
    display: none;
    padding-bottom: 20px;
}

#filters div {
    padding: 2px;
}

#udmi-versions {
    display: none;
}

#udmi-versions.valid {
    display: block
}
