@import '../../styles/variables';

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 32px);

  .login-widget {
    box-sizing: border-box;
    width: 320px;
    border-top: 3px solid $primary;
  }

  .google-login-button {
    color: #757575;

    .google-icon-svg {
      width: 18px;
      height: 18px;
      margin-right: 12px;
    }
  }
}
