@use '../../styles/variables' as *;

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 32px);

  .login-widget {
    box-sizing: border-box;
    width: 320px;
    border-top: 3px solid $primary;
  }
}
