<div class="login-container">
  <mat-card class="login-widget">
    <mat-card-header>
      <mat-card-title>UDMI</mat-card-title>
      <mat-card-subtitle>Device Management Console</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions align="end">
      <button class="google-login-button" mat-button (click)="loginWithGoogle()">
        <img
          class="google-icon-svg"
          src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
        />
        <span>Sign in with Google</span>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
