apiVersion: apps/v1
kind: Deployment
metadata:
  name: iot-core-proxy
spec:
  selector:
    matchLabels:
      app: proxy
      role: master
      tier: backend
  replicas: 1
  template:
    metadata:
      labels:
        app: proxy
        role: master
        tier: backend
    spec:
      containers:
      - name: master
        image: eu.gcr.io/bacnet-gateway/iot-core-proxy
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
