<mat-toolbar color="primary">
    <button mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button>
    <span routerLink="/dashboard" class="title">{{title}}</span>
    <span class="spacer"></span>
    <span *ngIf="user | async as user">
        <span>{{user.name}}</span>
        <button mat-button [matMenuTriggerFor]="menu">{{selectedOrigin ? selectedOrigin.id : "Choose Origin"}}</button>
        <mat-menu #menu="matMenu">
            <span *ngIf="origins | async as origins">
                <button mat-menu-item *ngFor="let origin of origins"
                    (click)="changeOrigin(origin)">{{origin.id}}</button>
                <span mat-menu-item *ngIf="!origins.length">No Origins Available
                </span>
            </span>
        </mat-menu>
    </span>
</mat-toolbar>
<div class="wrapper">
    <router-outlet></router-outlet>
</div>