@use '../../styles/variables' as *;

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;

  nav {
    padding-left: $gutter-width;
    height: 100%;
  }

  a,
  button {
    min-width: unset;
    border-radius: 0;
    height: 100%;
    display: inline-flex;
    align-items: center;
  }
}

.spacer {
  flex: 1 1 auto;
}

.drop-down-icon {
  margin-right: -10px;
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.active {
  box-shadow: inset 0px -4px $accent;
}
