<mat-toolbar color="primary" *ngIf="isLoggedIn | async">
  <h1>UDMI</h1>
  <nav role="navigation" aria-label="Main navigation">
    <a mat-button routerLink="/sites" routerLinkActive="active">Sites</a>
    <a mat-button routerLink="/devices" routerLinkActive="active">Devices</a>
  </nav>
  <span class="spacer"></span>
  <button mat-button [matMenuTriggerFor]="userMenu" aria-label="User menu">
    <span>{{ displayName | async }}</span>
    <mat-icon class="drop-down-icon">arrow_drop_down</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu" xPosition="before">
    <button (click)="logout()" mat-menu-item>
      <mat-icon>power_settings_new</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
