@import '../../styles/variables';

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;

  nav {
    padding-left: $gutter-width;

    a {
      min-width: unset;
    }
  }
}

.spacer {
  flex: 1 1 auto;
}

.drop-down-icon {
  margin-right: -10px;
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.active {
  box-shadow: 0px 2px white;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
