# See http://help.github.com/ignore-files/ for more about ignoring files.

# Node
.npm
/node_modules
npm-debug.log

# Visual Studio Code
.vscode

# Jest
/coverage
globalConfig.json

# System files
.DS_Store

# environment variables
setupEnv.sh

# mongo output
.mongodb

#Build specific files
dist/
credentials.json