@use '../../styles/variables' as *;

.validation {
  margin-bottom: $gutter-width;

  .mat-card-header {
    display: flex;
    align-items: center;

    .mat-card-avatar::ng-deep.mat-icon {
      width: 40px;
      height: 40px;
      font-size: 40px;
    }

    .mat-card-subtitle {
      margin-bottom: 0;

      &:empty {
        margin-top: -12px;
      }
    }
  }
}
