<div class="table-controls">
  <app-search-filter
    serviceName="SitesService"
    [fields]="searchFields"
    [limit]="15"
    [handleFilterChange]="filterData"
  ></app-search-filter>
  <mat-paginator
    [length]="totalFilteredCount"
    [pageSize]="pageSize"
    [pageIndex]="currentPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageChanged($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
<mat-table
  multiTemplateDataRows
  [dataSource]="sites"
  matSort
  (matSortChange)="sortData($event)"
  aria-label="List of sites"
>
  <ng-container *ngFor="let columnName of displayedColumns" matColumnDef="{{ columnName }}">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{
      columnName.replace('Count', '') | capitalize
    }}</mat-header-cell>
    <ng-container [ngSwitch]="columnName">
      <ng-container *ngSwitchCase="'name'">
        <mat-cell *matCellDef="let element"
          ><a [routerLink]="element.name">{{ element.name }}</a></mat-cell
        >
      </ng-container>
      <ng-container *ngSwitchCase="'lastValidated'">
        <mat-cell *matCellDef="let element">{{ element.lastValidated | date: 'MM/dd/yy h:mm a' }}</mat-cell>
      </ng-container>
      <ng-container *ngSwitchCase="'percentValidated'">
        <mat-cell *matCellDef="let element">{{ element.percentValidated | percent: '1.0-2' }}</mat-cell>
      </ng-container>
      <ng-container *ngSwitchCase="'totalDeviceErrorsCount'">
        <mat-cell *matCellDef="let element" class="cell-with-expand-trigger">
          {{ element.totalDeviceErrorsCount }}
          <button
            *ngIf="element.totalDeviceErrorsCount"
            mat-icon-button
            aria-label="expand row"
            (click)="expandedElement = expandedElement === element ? null : element"
          >
            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <mat-cell *matCellDef="let element">{{ element[columnName] }}</mat-cell>
      </ng-container>
    </ng-container>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetails">
    <mat-cell *matCellDef="let element" class="cell-details-content-wrapper">
      <!-- <ol>
        <li *ngFor="let error of (element.validation | parse)?.errors | orderBy: 'timestamp':'desc'">
          {{ error.message }}
        </li>
      </ol> -->
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="row-main"
    [class.row-is-expanded]="expandedElement === row"
  ></mat-row>
  <mat-row
    *matRowDef="let row; columns: ['expandedDetails']"
    class="row-details"
    [@detailExpand]="row === expandedElement ? 'expanded' : 'collapsed'"
  ></mat-row>
</mat-table>
