@use '@angular/material' as mat;

.success {
  color: mat.get-color-from-palette(mat.$green-palette, 500);
}
.warning {
  color: mat.get-color-from-palette(mat.$orange-palette, 500);
}
.error {
  color: mat.get-color-from-palette(mat.$red-palette, 500);
}
