<app-no-origin *ngIf="!origin"></app-no-origin>
<div *ngIf="dataSource">
    <table mat-table [dataSource]="dataSource!" class="mat-elevation-z8">
        <ng-container matColumnDef="mac">
            <th mat-header-cell *matHeaderCellDef>MAC</th>
            <td mat-cell *matCellDef="let element"> {{element.mac}} </td>
        </ng-container>

        <ng-container matColumnDef="ip">
            <th mat-header-cell *matHeaderCellDef> IP </th>
            <td mat-cell *matCellDef="let element"> {{element.ip}} </td>
        </ng-container>

        <ng-container matColumnDef="port">
            <th mat-header-cell *matHeaderCellDef> Port </th>
            <td mat-cell *matCellDef="let element"> {{element.port}} </td>
        </ng-container>

        <ng-container matColumnDef="vlan">
            <th mat-header-cell *matHeaderCellDef> VLAN </th>
            <td mat-cell *matCellDef="let element"> {{element.vlan}} </td>
        </ng-container>

        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef> Role </th>
            <td mat-cell *matCellDef="let element"> {{element.role}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>

        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter</td>
        </tr>
    </table>
</div>