name: UDMI Container Image Release

on:
  push:
    branches:
      - '**'

jobs:

  images:
    name: Build Docker Images
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    timeout-minutes: 10
    strategy:
      fail-fast: false
      matrix:
        container: [ "udmis", "validator", "pubber" ]
    env:
      PUSH_REGISTRY: ghcr.io
      CONTAINER: ${{ matrix.container }}
      REF_NAME: ${{ github.ref_name }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Log in to the github registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.PUSH_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Convert repository name to lowercase
        run: echo "IMAGE_NAME=${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV
      - name: Container build and push
        run: |
          IMAGE_REF=$PUSH_REGISTRY/$GITHUB_REPOSITORY_OWNER/udmi/$CONTAINER:latest

          bin/clone_model
          $CONTAINER/bin/build check
          bin/container $CONTAINER push --no-check $IMAGE_REF

          echo Pushed built $CONTAINER container as $IMAGE_REF | tee -a $GITHUB_STEP_SUMMARY
