name: UDMI test suite

on:
  push:
  pull_request:
  schedule:
    - cron: '0 13 * * *'

jobs:
  unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install openjdk-11-jdk
          sudo update-alternatives --set java /usr/lib/jvm/adoptopenjdk-11-hotspot-amd64/bin/java
      - name: Running unit tests
        run: bin/test_schema
      - name: Run registrar validation
        run: bin/test_registrar

  ui:
    name: UI Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Install Chrome & ChromeDriver
        run: bin/setup_chromedriver
      - name: Install dependencies
        run: cd udms && npm install
      - name: Install angular command line
        run: cd udms && npm install -g @angular/cli firebase-tools
      - name: Running lint
        run: cd udms && ng lint
      - name: Running unit tests
        run: cd udms && ng test --browsers ChromeHeadless --code-coverage=true --watch=false
      - name: Running e2e
        run: cd udms && npm run e2e 

  udmi:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: code checks
        run: |
          bin/setup_base
          bin/gencode check
          pubber/bin/build check
          validator/bin/build check
      - name: sequence tests
        env:
          GCP_TARGET_PROJECT: ${{ secrets.GCP_TARGET_PROJECT }}
        if: "${{ env.GCP_TARGET_PROJECT != '' }}"
        run: |
          bin/test_sequencer $GCP_TARGET_PROJECT
          fgrep 'RESULT ' /tmp/test_log.txt > /tmp/results.txt
          diff /tmp/results.txt etc/sequence.out
      - name: validation logs
        if: ${{ always() }}
        run: more `find out/devices/ -type f`
      - name: pubber logs
        if: ${{ always() }}
        run: |
          echo Pubber output logs:
          cat pubber.out || true

  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - name: Setup config
        env:
          TERRAFORM_CONFIG: ${{ secrets.TERRAFORM_CONFIG }}
        if: "${{ env.TERRAFORM_CONFIG != '' }}"
        run: |
          base64 -d <<< "$TERRAFORM_CONFIG" > config.sh
          cat config.sh | fgrep -v _CREDS=
      - name: Setup terraform
        run: (! test -f config.sh) || (source config.sh; cloud/gcp/bin/setup)
      - name: Init terraform
        run: (! test -f config.sh) || (source config.sh; cloud/gcp/bin/init)
      - name: Apply terraform
        run: (! test -f config.sh) || (source config.sh; cloud/gcp/bin/apply)
