name: UDMI test suite

on:
  push:
  pull_request:
  schedule:
    - cron: '0 13 * * *'

jobs:
  unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install openjdk-11-jdk
          sudo update-alternatives --set java /usr/lib/jvm/adoptopenjdk-11-hotspot-amd64/bin/java
      - name: Running unit tests
        run: bin/test_schema
      - name: Run registrar validation
        run: bin/test_registrar

  ui:
    name: UI Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2
        with:
          node-version: '16'
      - name: Install Chrome
        run: |
          # Sometimes the unstable version is desirable to match versions with ChromeDriver
          sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list'
          sudo apt-get remove google-chrome-stable
          sudo apt-get update && sudo apt-get install google-chrome-unstable
          google-chrome --version
      - name: Install dependencies
        run: cd udms && npm install
      - name: Install angular command line
        run: cd udms && npm install -g @angular/cli firebase-tools
      - name: Running lint
        run: cd udms && ng lint
      - name: Running unit tests
        run: cd udms && ng test --browsers ChromeHeadless --code-coverage=true --watch=false
      - name: Running e2e
        run: cd udms && npm run e2e 

  udmi:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: gencode check
        run: |
          bin/setup_base
          bin/gencode check
      - name: sequence tests
        env:
          GCP_TARGET_PROJECT: ${{ secrets.GCP_TARGET_PROJECT }}
        if: "${{ env.GCP_TARGET_PROJECT != '' }}"
        run: |
          bin/gencode
          bin/test_sequencer $GCP_TARGET_PROJECT
          fgrep 'RESULT ' /tmp/test_log.txt > /tmp/results.txt
          diff /tmp/results.txt etc/sequence.out
      - name: validation logs
        if: ${{ always() }}
        run: more `find out/devices/ -type f`
      - name: pubber logs
        if: ${{ always() }}
        run: |
          echo Pubber output logs:
          cat pubber.out || true
  
  docs:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - name: schema docs
        if: always()
        run: bin/gencode_docs check_schema
      - name: schema links
        if: always()
        run: bin/gencode_docs check_links
