name: UDMI test suite

on:
  push:
  pull_request:
  schedule:
    - cron: '0 13 * * *'

jobs:
  unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Install dependencies
        run: |
          bin/setup_base
          bin/clone_model
      - name: code checks
        if: ${{ always() }}
        run: |
          bin/gencode check
          pubber/bin/build check
          validator/bin/build check
      - name: Schema conformance tests
        if: ${{ always() }}
        run: |
          bin/test_schema -p
      - name: simple trace test
        run: |
          bin/test_trace simple
      - name: Registrar tests
        if: ${{ always() }}
        run: |
          bin/test_registrar
          bin/test_sites

  redirect:
    name: Endpoint Redirection
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: base setup
        run: |
          bin/setup_base
          bin/clone_model
      - name: pubber runs
        env:
          GCP_TARGET_PROJECT: ${{ secrets.GCP_TARGET_PROJECT }}
        if: "${{ env.GCP_TARGET_PROJECT != '' }}"
        run: |
          bin/test_redirect $GCP_TARGET_PROJECT
      - name: pubber cmd checks
        env:
          GCP_TARGET_PROJECT: ${{ secrets.GCP_TARGET_PROJECT }}
        if: "${{ env.GCP_TARGET_PROJECT != '' }}"
        run: |
          echo ::::::: pubber.out.1
          cat out/pubber.out.1
          echo :::::::
          echo Simple checks that a redirect happened and failed
          fgrep registries/ZZ-TRI-FECTA/devices out/pubber.out.1
          fgrep 'system.config.parse success' out/pubber.out.1
          fgrep registries/missing/devices out/pubber.out.1
          fgrep 'Not authorized to connect' out/pubber.out.1
      - name: pubber config checks
        env:
          GCP_TARGET_PROJECT: ${{ secrets.GCP_TARGET_PROJECT }}
        if: "${{ env.GCP_TARGET_PROJECT != '' }}"
        run: |
          echo ::::::: out/pubber.out.2
          cat out/pubber.out.2
          echo :::::::
          echo Check the redirect-by-config setup
          fgrep registries/ZZ-TRI-FECTA/devices out/pubber.out.2
          fgrep 'system.config.parse success' out/pubber.out.2
          fgrep registries/reconfigure/devices out/pubber.out.2
          fgrep 'Not authorized to connect' out/pubber.out.2
    
  udmi:
    name: Sequence tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    needs: redirect  # Access to UDMI-REFLECTOR is mutually exclusive
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: base setup
        run: |
          bin/setup_base
          bin/clone_model
      - name: sequence tests
        env:
          GCP_TARGET_PROJECT: ${{ secrets.GCP_TARGET_PROJECT }}
        if: "${{ env.GCP_TARGET_PROJECT != '' }}"
        run: |
          bin/test_sequencer $GCP_TARGET_PROJECT
          more /tmp/sequencer.out
          diff -u /tmp/sequencer.out etc/sequencer.out && echo No output diff detected.
      - name: telemetry validator
        env:
          GCP_TARGET_PROJECT: ${{ secrets.GCP_TARGET_PROJECT }}
        if: "${{ env.GCP_TARGET_PROJECT != '' }}"
        run: |
          # Run after sequencer to device config starts in a known state
          bin/test_validator $GCP_TARGET_PROJECT
          more /tmp/validator.out
          diff -u /tmp/validator.out etc/validator.out && echo No validator diff detected.
      - name: output logs
        env:
          GCP_TARGET_PROJECT: ${{ secrets.GCP_TARGET_PROJECT }}
        if: "${{ env.GCP_TARGET_PROJECT != '' }}"
        run: |
          cd sites/udmi_site_model/out
          echo Output from `pwd`
          more `find out -type f`
      - name: pubber logs
        if: ${{ always() }}
        run: |
          cat out/pubber.out || true
          more out/*.json
