name: UDMI test suite

on:
  push:
  pull_request:
  schedule:
    - cron: '0 */2 * * *'

jobs:
  unit-tests:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install openjdk-11-jdk
          sudo update-alternatives --set java /usr/lib/jvm/adoptopenjdk-11-hotspot-amd64/bin/java
      - name: Running unit tests
        run: bin/test_schema
      - name: Run registrar validation
        run: bin/test_registrar
