name: UDMI test suite

on:
  push:
  pull_request:
  schedule:
    - cron: '0,30 * * * *'

jobs:
  udmi:
    name: Integration Tests
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: base setup
        run: |
          bin/setup_base
          bin/clone_model
      - name: sequence tests
        env:
          GCP_TARGET_PROJECT: ${{ secrets.GCP_TARGET_PROJECT }}
          SEQUENCER_OPTS: ${{ secrets.SEQUENCER_OPTS }}
        if: "${{ env.GCP_TARGET_PROJECT != '' }}"
        run: |
          bin/test_sequencer $GCP_TARGET_PROJECT
          echo TAP sequencer.out-start
          more /tmp/sequencer.out
          echo TAP sequencer.out-end
          diff -u /tmp/sequencer.out etc/sequencer.out
      - name: pubber logs
        if: ${{ always() }}
        run: |
          echo TAP pubber.out-start
          more pubber.out* out/pubber.out* || true
          more pubber/out/*/*.json || true
          echo TAP pubber.out-start-end
