name: UDMI test suite

on:
  push:
  pull_request:
  schedule:
    - cron: '0 13 * * *'

jobs:
  unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: Install dependencies
        run: |
          bin/setup_base
          bin/clone_model
      - name: code checks
        if: ${{ always() }}
        run: |
          bin/gencode check
          pubber/bin/build check
          validator/bin/build check
      - name: Schema conformance tests
        if: ${{ always() }}
        run: |
          bin/test_schema -p
      - name: simple trace test
        run: |
          bin/test_trace simple
      - name: Registrar tests
        if: ${{ always() }}
        run: |
          bin/test_registrar
          bin/test_sites

  redirect:
    name: Endpoint Redirection
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: base setup
        run: |
          bin/setup_base
          bin/clone_model
      - name: pubber runs
        env:
          GCP_TARGET_PROJECT: ${{ secrets.GCP_TARGET_PROJECT }}
        if: "${{ env.GCP_TARGET_PROJECT != '' }}"
        run: |
          bin/test_redirect $GCP_TARGET_PROJECT
      - name: pubber cmd checks
        env:
          GCP_TARGET_PROJECT: ${{ secrets.GCP_TARGET_PROJECT }}
        if: "${{ env.GCP_TARGET_PROJECT != '' }}"
        run: |
          echo ::::::: pubber.out.1
          cat pubber.out.1
          echo :::::::
          echo Simple checks that a redirect happened and failed
          fgrep registries/ZZ-TRI-FECTA/devices pubber.out.1
          fgrep registries/missing/devices pubber.out.1
          fgrep 'While waiting for connection start: Connection error' pubber.out.1
          fgrep 'Endpoint connection restored to last working endpoint' pubber.out.1
      - name: pubber config checks
        env:
          GCP_TARGET_PROJECT: ${{ secrets.GCP_TARGET_PROJECT }}
        if: "${{ env.GCP_TARGET_PROJECT != '' }}"
        run: |
          echo ::::::: pubber.out.2
          cat pubber.out.2
          echo :::::::
          echo Check the redirect-by-config setup
          fgrep registries/ZZ-TRI-FECTA/devices pubber.out.2
          fgrep registries/reconfigure/devices pubber.out.2
          fgrep 'While waiting for connection start: Connection error' pubber.out.2
          fgrep 'Endpoint connection restored to last working endpoint' pubber.out.2
          fgrep 'Stopping system with extreme prejudice, restart true' pubber.out.2  # restart config
          fgrep 'Stopping system with extreme prejudice, restart false' pubber.out.2  # auto-kill
          fgrep 'Done with pubber run, exit code 193' pubber.out.2  # last_start auto-kill check
    
  udmi:
    name: Integration Tests
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: redirect  # Access to UDMI-REFLECTOR is mutually exclusive
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: base setup
        run: |
          bin/setup_base
          bin/clone_model
      - name: sequence tests
        env:
          GCP_TARGET_PROJECT: ${{ secrets.GCP_TARGET_PROJECT }}
        if: "${{ env.GCP_TARGET_PROJECT != '' }}"
        run: |
          bin/test_sequencer $GCP_TARGET_PROJECT
          more /tmp/sequencer.out
          diff -u /tmp/sequencer.out etc/sequencer.out
          diff -u /tmp/generated.md docs/specs/sequences/generated.md
          ls -1 validator/sequences | xargs -I% diff -u \
              sites/udmi_site_model/out/devices/AHU-1/tests/%/sequence.md \
              validator/sequences/%/sequence.md
      - name: telemetry validator
        env:
          GCP_TARGET_PROJECT: ${{ secrets.GCP_TARGET_PROJECT }}
        if: "${{ env.GCP_TARGET_PROJECT != '' }}"
        run: |
          bin/test_validator $GCP_TARGET_PROJECT
          more /tmp/validator.out
          echo Comparing test run results with golden file:
          diff -u /tmp/validator.out etc/validator.out
      - name: output logs
        env:
          GCP_TARGET_PROJECT: ${{ secrets.GCP_TARGET_PROJECT }}
        if: "${{ env.GCP_TARGET_PROJECT != '' }}"
        run: |
          cd sites/udmi_site_model/out
          echo Output from `pwd`
          more `find out -type f`
      - name: pubber logs
        if: ${{ always() }}
        run: |
          cat pubber.out || true
          more pubber/out/*/*.json
