name: UDMI test suite

on:
  push:
  pull_request:
  schedule:
    - cron: '0 13 * * *'

jobs:
  unit:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v2.3.4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install openjdk-11-jdk
          sudo update-alternatives --set java /usr/lib/jvm/adoptopenjdk-11-hotspot-amd64/bin/java
      - name: Schema unit tests
        if: ${{ always() }}
        run: bin/test_schema -p
      - name: Registrar validation
        if: ${{ always() }}
        run: |
          bin/test_registrar
          bin/test_sites
      - name: Validator unit tests
        if: ${{ always() }}
        run: cd validator; ./gradlew test

  udmi:
    name: Sequence tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: '11'
      - name: base setup
        run: |
          bin/setup_base
          bin/clone_model
      - name: sequence tests
        env:
          GCP_TARGET_PROJECT: ${{ secrets.GCP_TARGET_PROJECT }}
        if: "${{ env.GCP_TARGET_PROJECT != '' }}"
        run: |
          bin/test_sequencer $GCP_TARGET_PROJECT
          more /tmp/sequencer.out
          diff -u /tmp/sequencer.out etc/sequencer.out && echo No output diff detected.
      - name: telemetry validator
        env:
          GCP_TARGET_PROJECT: ${{ secrets.GCP_TARGET_PROJECT }}
        if: "${{ env.GCP_TARGET_PROJECT != '' }}"
        run: |
          # Run after sequencer to device config starts in a known state
          bin/test_validator $GCP_TARGET_PROJECT
          more /tmp/validator.out
          diff -u /tmp/validator.out etc/validator.out && echo No validator diff detected.
      - name: code checks
        if: ${{ always() }}
        run: |
          bin/gencode check
          pubber/bin/build check
          validator/bin/build check
      - name: device output logs
        if: ${{ always() }}
        run: more `find udmi_site_model/out/devices/ -type f`
      - name: pubber logs
        if: ${{ always() }}
        run: |
          cat pubber.out || true
          more out/*.json
